

  body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
}

article {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.center{
    /* margin-left: 10px; */
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* height: 150vh; */
    /* flex-basis: 50%; */
    /* width: 100%; */
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(255, 255, 255, 0.5));
}

.cards{
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    height: 330px;
    /* width: 45%; */
    justify-content: space-between;
}

a{
    color: rgb(0, 0, 0);
    margin-left: 15px;
    padding: 5px 20px;
    border-radius: 19px;
    text-decoration: none;
    border: 1px solid rgb(255, 196, 0);
}

a:hover{
    background-color: rgba(151, 183, 109, 0.7);
}

nav{
    display: flex;
    position: sticky;
    background-color: rgba(0, 219, 106, 0.7);
    padding: 20px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    display: flex;
    list-style-type: none;
}

img{
    height:48vh;
    border-radius: 15px;
}

p{
    margin: 20px;
}

.author{
    /* padding-right: 5px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
    width: 360px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.author :hover{
    width: 140px;
    transition: 0.2s;
}

.hidden{
    overflow: hidden;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    align-items: center;
}
.zoom{
    width: 110px;
    height: 200px;
    gap: 5px;
}
.zoom :hover{
    width: 150px;
}
*{
    margin: 0%;
}

